:host {
	margin: 0 auto;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;
    
    width: 300px;
    
	cursor: pointer;
}
h2, p {
    font-family: 'Roboto';
}
.product-preview {
    box-sizing: content-box;
    background: #fff;
    margin: 10pt 0; /* Fix for vertical margin of host */

    width: 360px;
    border-radius: 4px;
    box-shadow: 0 0  0 1pt #d4d4d4;
    overflow: hidden;
}
.product-preview:hover {
    box-shadow: 0 0 0 3pt #fec81e;
}
.product-image-container {
    box-sizing: content-box;
    border-bottom: 1pt solid #E5E5E5;
}
.product-image {
    background-color: #fff;
    width: 240px;
    height: 240px;
    margin: 30pt auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-details-container {
    padding: 20pt 23pt;
}
.product-details-container h2 {
    margin: 0;
    font-size: 19pt;
    line-height: 27pt;
    font-weight: normal;
}
.product-details-container p {
    font-size: 18pt;
}