.responsive-list {
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	column-gap: 20px;
}

@media (max-width: 768px) {
	.responsive-list {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.responsive-list {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 1025px) {
	.responsive-list {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}