<nav>
    <a (click)="goBack()">< НАЗАД</a>
    <a (click)="goHome()" *ngIf="isRelated">На главную</a>
</nav>
<span>{{ prevRoute }}</span>
<div class="product-content">
    <h1>{{ (productItem | async)?.name }}</h1>
    <div class="slider">
        <swiper [config]="mainSwiperConfig" #mainSwiper class="mainSwiper" [style.width.px]="getWindowWidth()">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let image of (productItem | async)?.images">
                    <div class="slider-image"
                        [style.width.px]="getWindowWidth()"
                        [style.height.px]="getWindowWidth()"
                        [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
                </div>
            </div>
            
        </swiper>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <swiper [config]="thumbnailsSwiperConfig" #thumbnailsSwiper class="thumbnailsSwiper" [style.width.px]="getWindowWidth()">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let image of (productItem | async)?.images">
                    <div class="slider-image"
                        [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
                </div>
            </div>
        </swiper>
    </div>
    <div class="product-info">
      
      <div class="product-description">
          <span #productDescription>{{ (productItem | async)?.description }}</span>
          <br/>
          <a (click)="openProductDescription()">{{ productDescriptionIsOpen ? 'Скрыть' : 'Показать больше' }}</a>
      </div>
      <div class="product-filds">
        <h3>Характеристики</h3>
        <ul>
            <li *ngFor="let field of (productItem | async)?.fields">
                <span class="helper">{{field?.name}}:</span>
                <span class="value">{{field?.value | productFieldValue}}</span>
                </li>
        </ul>
      </div>

      <div class="buy-block">
          <span class="price">{{ (productItem | async)?.price }} руб.</span>
          <button class="buy-btn">Купить</button>
      </div>
    </div>
    
</div>

<div class="related-products">
  <app-responsive-product-list 
    [listTitle]="'Похожие товары'" 
    [productsList]="relatedProductsList"
    [isRelated]=true>
  </app-responsive-product-list>
</div>