:host {
    font-family: "Roboto";
}

/* Navigation block */
nav {
    display: flex;
    height: 120pt;
    align-items: center;
}
nav > a {
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bolder;
    margin-right: 24pt;
}

/* Product content */
.slider {
    position: relative;
    display: inline-block;
    margin: 0 25pt;
    float:left;
}
swiper.mainSwiper{
    height: 325pt;
    width: 325pt;
    overflow: hidden;
}
.slider .swiper-button-next, .slider .swiper-button-prev{
    position: absolute;
    top: 162pt;
    width: 20pt;
    height: 20pt;
}
.slider .swiper-button-next {
    right: -20pt;
    background-image: url("../../../assets/images/right.svg");
}
.slider .swiper-button-prev {
    left: -20pt;
    background-image: url("../../../assets/images/left.svg");
}
swiper.mainSwiper .slider-image {
    background-color: #fff;
    width: 325pt;
    height: 325pt;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
swiper.thumbnailsSwiper{
    height: 55pt;
    width: 325pt;
    overflow: hidden;
}
swiper.thumbnailsSwiper .swiper-slide {
    position: relative;
}
swiper.thumbnailsSwiper .slider-image {
    position: relative;
    top: 2pt;
    background-color: #fff;
    width: 50pt !important;
    height: 50pt !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0  0 2pt #e5e5e5;
    margin: 0 auto;
}
swiper.thumbnailsSwiper .swiper-slide-active .slider-image{
    box-shadow: 0 0  0 2pt #fec81e;
}

.product-info {
    background-color: #fff;
}
.product-content h1 {
    font-weight: normal;
    font-size: 24pt;
}
.product-description {
    font-size: 14pt;
    line-height: 22pt;
}
.product-filds {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
}
.product-filds > li {
}
.product-filds > li > .helper {
    width: 100px;
}
.helper {
  font-size: 12pt;
  color: #777;
}

/* Related products */
.related-products {
    margin: 10px 0;
    border-top: 1px solid #E5E5E5;
}