:host {
    font-family: "Roboto";
}

/* Navigation block */
nav {
    display: flex;
    height: 120px;
    align-items: center;
}
nav > a {
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    margin-right: 24px;
}

/* Product content */
.slider {
    position: relative;
    display: inline-block;
    padding: 0 50px;
    float:left;

    background-color: #fff;
    overflow: hidden;
}
@media (max-width: 768px) { 
    .slider {
        display: table;
        float: none;
        margin: 0 auto;
    }
}
swiper.mainSwiper{
    max-width: 325px;
    overflow: hidden;
}
.slider .swiper-button-next, .slider .swiper-button-prev{
    position: absolute;
    top: 40%;
    width: 20px;
    height: 20px;
}
.slider .swiper-button-next {
    right: 10px;
    background-image: url("../../../assets/images/right.svg");
}
.slider .swiper-button-prev {
    left: 10px;
    background-image: url("../../../assets/images/left.svg");
}
swiper.mainSwiper .slider-image {
    max-width: 325px;
    max-height: 325px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
swiper.thumbnailsSwiper{
    height: 55px;
    max-width: 325px;
    overflow: hidden;
}
swiper.thumbnailsSwiper .swiper-slide {
    position: relative;
}
swiper.thumbnailsSwiper .slider-image {
    position: relative;
    top: 2px;
    background-color: #fff;
    width: 50px !important;
    height: 50px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0  0 2px #e5e5e5;
    margin: 0 auto;
}
swiper.thumbnailsSwiper .swiper-slide-active .slider-image{
    box-shadow: 0 0  0 2px #fec81e;
}

.product-info {
    background-color: #fff;
}
.product-content h1 {
    font-weight: normal;
    font-size: 24px;
}
.product-info .buy-block{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 60px 0;
    border-top: 1px solid #e5e5e5;
}
.product-info .buy-block .price {
    font-size: 28px;
    font-weight: bold;
    margin-right: 22px;
    white-space: nowrap;
}
.product-info .buy-block .buy-btn {
    padding: 13px 46px;
    border: none;
    border-radius: 100px;
    background-color: #fec81e;
    font-size: 12px;
    color: #000;
    font-weight: bolder;
    text-transform: uppercase;
}
.product-info .buy-block .buy-btn:focus {
    outline: none;
    opacity: 0.5;
}
.product-description {
    position: relative;
    margin-bottom: 2em;
}
.product-description span{
    display: block;
    max-height: 200px;
    overflow: hidden;
    transition: 0.5s;
    font-size: 14px;
    line-height: 22px;
}
.product-description span.open {
    display: inline;
    max-height: none;
}
.product-description a {
    cursor: pointer;
    color: #F09600;
    text-decoration: dotted;
}
.product-filds {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}
.product-filds h3 {
    font-weight: normal;
    font-size: 14px;
}
.product-filds ul {
    padding: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style: none;
}
@media (max-width: 768px) {
    .product-filds ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
.product-filds li > .helper {
    font-weight: normal;
    width: 100px;
    font-size: 14px;
}
.helper {
  font-size: 12px;
  color: #777;
}

/* Related products */