<nav>
    <a (click)="goBack()">< НАЗАД</a>
    <a (click)="goHome()" *ngIf="isConnected">На главную</a>
</nav>
<span>{{ prevRoute }}</span>
<div class="product-content">
    <h1>{{ (productItem | async)?.name }}</h1>
    <div class="slider">
        <swiper [config]="mainSwiperConfig" #mainSwiper class="mainSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let image of (productItem | async)?.images">
                    <div class="slider-image"
                        [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
                </div>
            </div>
            
        </swiper>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <swiper [config]="thumbnailsSwiperConfig" #thumbnailsSwiper class="thumbnailsSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let image of (productItem | async)?.images">
                    <div class="slider-image"
                        [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
                </div>
            </div>
        </swiper>
    </div>
    <div class="product-info">
      
      <p class="product-description">{{ (productItem | async)?.description }}</p>
      <div class="product-filds">
        <h3>Характеристики</h3>
        <ul>
            <li *ngFor="let field of (productItem | async)?.fields">
                <span class="helper">{{field?.name}}:</span>
                <span class="value">{{field?.value}}</span>
                </li>
        </ul>
      </div>

      <div class="buy-block">
          <span class="price">{{ (productItem | async)?.price }} ₽</span>
          <button class="buy-btn">Купить</button>
      </div>
    </div>
    
</div>

<div class="related-products">
  <app-responsive-list [listTitle]="'Похожие товары'">
      <a (click)="openRelatedProductDetails(rp.article)"
          *ngFor="let rp of relatedProductsList | async">
          <app-product-preview 
              [product]='rp'>
          </app-product-preview>
      </a>
  </app-responsive-list>
</div>